
#div1{
    color:black;
    background-color:whitesmoke;
    background-image:url(images_css/fond.jfif);
    }

#div2{
    color:black;
    background-color:whitesmoke;
    background-image:url(images_css/fond.jfif);
    background-repeat: no-repeat;
    background-position:50% 50%;
    }    

#div3{
    color:black;
    background-color:whitesmoke;
    background-image:url(images_css/fond.jfif);
    background-size: cover;
}

h1{
    text-align: center;
    font-variant:small-caps ;
}